<launch>

    <node pkg="turtlesim" name="turtlesim" type="turtlesim_node" >
        <remap from="/turtle1" to="/leader"/>
	</node>
	
	<node pkg="rosservice" type="rosservice" name="turtle" args="call /spawn 0.0 0.0 0.0 follower" />   

    <node pkg="convoy" name="convoy_node" type="convoy_node" />

</launch>


